<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Welcome!</h2>
                <hr class="light">
                <p class="text-faded">This is a resource guide put together by former longitudinal student, Kara Manuel. The purpose of this guide is to act as a reference for those who rotate at the clinic, particularly those on short-term rotations. The Corner is unique from other clinics that you may rotate at due to its extensive resources, including multiple social workers and case managers. Please navigate the sections below to review what resources are available to patients. Each section describes how you, as a student, can start the process of connecting patients with these resources. The final section details how to navigate the Athenahealth EMR to start internal referrals to initiate these processes.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
