<section id="links">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Links</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3><a href="https://cornerhealth.org/" target="_blank">Corner Health</a></h3>
                    <p class="text-muted">Visit the Corner Health main website to find more details on services, programs, staff, newsletters and more.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3><a href="https://vplaces.med.umich.edu/vpn/index.html" target="_blank">Epic</a></h3> 
                    <p class="text-muted">Link to access Michigan Medicine charts.</p>
                </div>
            </div>
                <div class="col-lg-3 col-md-6 text-center"></div>
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3><a href="https://identity.athenahealth.com/oauth2/auset0ja9xZ2Hniep296/v1/authorize?client_id=0oaet0rfjNzyKCiQQ296&idp=&login_hint=ANETUSERNAME&nonce=6a29f1bb70b78d6261321f73aeb96098b4326f2cfb94def308dd850bf9201126&prompt=login&redirect_uri=https%3A%2F%2Fathenanet.athenahealth.com%2F1%2F1%2Flogin%2Foidc.esp&response_mode=form_post&response_type=code&scope=openid%20profile%20offline_access%20&sessionToken=&state=eyJGTEFHUyI6eyJDT0RFUEFTU1RIUk9VR0giOm51bGwsIkFORVRNRkFTSElNV0lER0VUIjoiIiwiTk9GUkFNRVNFVCI6bnVsbCwiREVQQVJUTUVOVElEIjpudWxsLCJERUVQTElOSyI6bnVsbH0sIkxPR0lOTUVUQURBVEEiOnsiVVNFUkFVVEhOVFlQRSI6Ik5PTlNTTyIsIkJBTk5FUlRZUEUiOiJsaXZlX2xvZ2luIn0sIkNTUkYiOiIwYzIxNTNmNzVmZThjNzI3NWY5ODBmZDBlMTZmNjcyOCIsIlRBUkdFVFVSTCI6bnVsbH0" target="_blank">Athena Health</a></h3>
                        <p class="text-muted">EHR login</p>
</div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3><a href="https://www.washtenaw.org/1130/Our-Services" target="_blank">Wastenaw County Health Department</a></h3>
                    <p class="text-muted">Find up-to-date information about community programming + communicable diseases, environmental health and more.</p>
                </div>
            </div>
        </div>
    </div>
</section>
